<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LUCKY DRAW</title>
    <link rel="stylesheet" href="../static/eadmin/starbust.css">
    <link rel="stylesheet" href="../static/eadmin/style.css">
    <link rel="stylesheet" href="../static/plugins/vex-js/css/vex.css">
    <link rel="stylesheet" href="../static/plugins/vex-js/css/vex-theme-os.css">
</head>
<body>

<div class="x-mas_tree">
    <img src="../static/images/xmas_tree.png" width="70%">
</div>
<div class="banner"></div>



<div class="raffle_theme_wrapper hide">
    <div class="raffle_logo">
        <img src="../static/images/title.png" class="raffle_theme" id="raffle_theme">
    </div>
</div>

<div class="raffle_fortune_wrapper hide">
    <div class="raffle_logo">
        <img src="../static/images/fortune-wheel.png" class="raffle_fortune">
    </div>
</div>


<div class="avail_logo">
    <img src="../static/images/avail_logo.png">
</div>

<div id="particle-js"></div>


<!--<div class="play_gift">-->
<!--    <img src="../static/images/play_gift.png">-->
<!--</div>-->


<ul class="starbust-wheel">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<script src="../static/plugins/jquery.js"></script>
<script src="../static/plugins/particles/particles.min.js"></script>
<script src="../static/scripts/home.js"></script>
<script src="../static/scripts/dialogs.js"></script>



</body>
</html>