<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <title>LUCKY DRAW</title>
    <link rel="stylesheet" href="../static/eadmin/starbust.css">
    <link rel="stylesheet" href="../static/eadmin/style.css">
    <link rel="stylesheet" href="../static/plugins/vex-js/css/vex.css">
    <link rel="stylesheet" href="../static/plugins/vex-js/css/vex-theme-os.css">
</head>
<style>
    body .raffle_fortune_wrapper {
        top: 33%;
        left: 22%;
        width: 31%;
    }
    body .raffle_theme_wrapper {
        width: 28%;
        top: 36%;
        left: 22%;
    }
    .starbust-wheel {
        top: -66%;
        left: -375px;
    }

    .banner_ {
        position: fixed;
        right: 93px;
        top: 97px;
    }



</style>
<body>

    <!--<div class="x-mas_tree">-->
    <!--    <img src="../static/images/xmas_tree.png" width="70%">-->
    <!--</div>-->
    <!--<div class="banner"></div>-->



    <div class="raffle_theme_wrapper hide">
        <div class="raffle_logo">
            <img src="../static/images/title.png" class="raffle_theme" id="raffle_theme">
        </div>
    </div>

    <div class="raffle_fortune_wrapper hide">
        <div class="raffle_logo">
            <img src="../static/images/fortune-wheel.png" class="raffle_fortune">
        </div>
    </div>

    <div class="banner_">
        <img src="../static/images/raffle_banner.png" class="raffle_fortune">
    </div>

    <!--
    <div class="banner2 hide">
        <img src="../static/images/banner1.png" class="raffle_fortune" style="width: 42%; position: fixed; right: 0; bottom: 0;">
    </div>

    -->


    <div class="avail_logo">
        <img src="../static/images/avail_logo.png">
    </div>

    <div id="particle-js"></div>


    <!--<div class="play_gift">-->
    <!--    <img src="../static/images/play_gift.png">-->
    <!--</div>-->


    <ul class="starbust-wheel">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <script src="../static/plugins/jquery.js"></script>
    <script src="../static/plugins/particles/particles.min.js"></script>
    <script src="../static/scripts/home.js"></script>
    <script src="../static/scripts/dialogs.js"></script>



</body>
</html>